# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\P1\primer_parcial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
